@media (max-width: 1440px) {
    body, html {
        font-family: 'Roboto', sans-serif;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .background {
        background-color: #36384D;
        width: 100vw; 
        height: 100vh;
        padding: 20px;
        box-sizing: border-box;
    }

    .background_form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
        background-color: #fff;
        width: 49vw;
        height: 79vh;
        padding: 20px;
        border-radius: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 20px 0 #000;   
    }

    .left_column {
        width: 24vw;
        height: 79vh;
        margin-left: 5%;
    }

    .right_column {
        width: 24vw;
        height: 79vh;   
        justify-self: end; 
    }

    svg {
        width: 100%;
        height: 100%;
    }

    .title {
        display: flex;
        font-weight: bold;
        font-size: 2.5rem;
        color: #000;    
        justify-content: center;
        align-items: center;
        margin-top: 15%;
    }

    .sub_title {
        display: flex;
        font-weight: normal;
        font-size: 0.8rem;
        color: #000;    
        justify-content: center;
        margin-top: 28px;
    }

    .options {
        margin-top: 15px;
    }

    .options_list {
        display: grid;
        grid-template-columns: 1fr 11fr;
        gap: 5px;
        margin-top: 10px;
    }

    .icon_check {
        display: flex;
    }

    .option_text {
        display: flex;    
        font-weight: lighter;
        font-size: 0.8rem;
        color: #000;
        justify-content: start;
        align-items: center;
    }

    .form {
        width: 100%;
        bottom: 60px;
        margin-top: 5%;
    }

    .label_email {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;   
        color: #000;
        font-weight: bold;
        font-size: 0.6rem;
        margin-bottom: 5px;
    }

    .errorMessage {
        display: flex;
        visibility: hidden;
        color: #FF0000;
        margin: 0px;
        justify-content: flex-end;
    }

    .email_input {
        width: 96%;
        height: 50px;
        border-width: 1px;
        border-radius: 8px;
        border-color: #c2c2c2;
        margin-bottom: 20px;
        padding-left: 10px;
        padding: none;
    }

    .email_box {
        padding-left: 0px;
    }

    .email-box {
        display: block; /* Exibir a div como um bloco para que fique abaixo da anterior */
        margin-bottom: 10px; /* Adiciona espaçamento entre as divs */
    }

    .btn_submit {
        display: block;
        color: #fff;
        font-size: 0.8rem;
        font-weight: bold;
        width: 100%;
        height: 55px;
        border-radius: 8px;
        border: none;
        background-color: #010734;
        cursor: pointer;
        transition: background-color 0.2s linear; /* Adicione transition para background-color */
    }

    .btn_submit.active {
        background-color: hsl(4, 100%, 67%); /* Define a cor de fundo vermelha para o botão quando ativo */
        transition:background-color 0.3s ease;
    }

    .invalid {
        border: 1px solid red; /* Pinta a borda de vermelho */
    }

    .email_input::placeholder.invalid {
        color: red; /* Muda a cor do placeholder para vermelho */
    }

    input:checked {
        border-color: red; /* Define a cor da borda para vermelho quando o campo recebe foco */
        border-width: 1px;
    }

    .email_input:focus {
        outline: none;
    }

    .email_div.selected {
        border-color: red;
        border-width: 1px;
    }
}


@media (max-width: 425px) {
    .background {
        background-color: #fff; /* Cor de fundo azul Marinho */
        width: 100vw; /* Largura da div */
        height: 100vh; /* Altura da div */
        padding: 20px; /* Espaçamento interno */
        box-sizing: border-box; /* Para incluir preenchimento e borda na largura e altura total */
    }
    
    .background_form {
        display: flex;
        background-color: #fff;
        width: 85vw; /* Ajustando a largura */
        box-shadow: none;
        align-items: center;
        margin-top: 0%;
  
    }

    .left_column {
        width: 85vw;
        height: 80vh;
        margin: 0px 0px 0px 0px;
    }

    .right_column {
        display: none;
    }

    .title {
        margin-top: 0px;
    }

    .form {
        margin-top: 14%;
    }
}

@media (max-width: 375px) {
    .background {
        background-color: #fff; /* Cor de fundo azul Marinho */
        width: 100vw; /* Largura da div */
        height: 100vh; /* Altura da div */
        padding: 20px; /* Espaçamento interno */
        box-sizing: border-box; /* Para incluir preenchimento e borda na largura e altura total */
    }
    
    .background_form {
        display: flex;
        background-color: #fff;
        width: 85vw; /* Ajustando a largura */
        box-shadow: none;
        align-items: center;
        margin-top: 0%;
  
    }

    .left_column {
        width: 85vw;
        height: 80vh;
        margin: 0px 0px 0px 0px;
    }

    .right_column {
        display: none;
    }

    .title {
        margin-top: 0px;
    }

    .form {
        margin-top: 15%;
    }
}

